<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd" 
    bootstrap="vendor/autoload.php" 
    colors="true"
>
  <testsuites>
    <testsuite name="Ping">
      <file>./tests/Feature/Tenant/PingTest.php</file>
    </testsuite>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory suffix="Test.php">./tests/Feature</directory>
    </testsuite>
    <testsuite name="Horizon">
      <directory suffix="Test.php">./tests/Feature/Horizon</directory>
    </testsuite>
    <testsuite name="Tenant">
      <directory suffix="Test.php">./tests/Feature/Tenant</directory>
    </testsuite>
    <testsuite name="Config">
      <file>./tests/Feature/GraphQL/ConfigTest.php</file>
    </testsuite>
    <testsuite name="Fundamental">
      <file>./tests/Feature/GraphQL/FundamentalTest.php</file>
    </testsuite>
    <testsuite name="Notification">
      <file>./tests/Feature/GraphQL/NotificationTest.php</file>
    </testsuite>
    <testsuite name="Position">
      <file>./tests/Feature/GraphQL/PositionTest.php</file>
    </testsuite>
    <testsuite name="Role">
      <file>./tests/Feature/GraphQL/RoleTest.php</file>
    </testsuite>
    <testsuite name="Sanctum">
      <file>./tests/Feature/GraphQL/SanctumTest.php</file>
    </testsuite>
    <testsuite name="SpecificFundamental">
      <file>./tests/Feature/GraphQL/SpecificFundamentalTest.php</file>
    </testsuite>
    <testsuite name="Team">
      <file>./tests/Feature/GraphQL/TeamTest.php</file>
    </testsuite>
    <testsuite name="TrainingConfig">
      <file>./tests/Feature/GraphQL/TrainingConfigTest.php</file>
    </testsuite>
    <testsuite name="Training">
      <file>./tests/Feature/GraphQL/TrainingTest.php</file>
    </testsuite>
    <testsuite name="User">
      <file>./tests/Feature/GraphQL/UserTest.php</file>
    </testsuite>
    <testsuite name="ConfirmationTraining">
      <file>./tests/Feature/GraphQL/ConfirmationTrainingTest.php</file>
    </testsuite>
    <testsuite name="Database">
        <directory suffix="Test.php">./tests/Feature/Database/Central</directory>
        <directory suffix="Test.php">./tests/Feature/Database/Tenants</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <report>
      <html outputDirectory="reports" lowUpperBound="50" highLowerBound="90"/>
    </report>
  </coverage>
  <source>
    <include>
      <directory suffix=".php">./app</directory>
    </include>
  </source>
</phpunit>
